*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: #256470;
}
nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
}
label.logo-name{
    color: lightgoldenrodyellow;
    font-size: 35px;
    line-height: 70px;
    padding: 0 20px;
    font-weight:bold;
    cursor: pointer;
}
nav ul{
    float:right;
    margin-right: 40px;
}
nav ul li{
    display:inline-block;
    line-height: 80px;
    margin: 0 4px;
    
}
nav ul li a{
    color: lightgoldenrodyellow;
    font-size: 20px;
    text-transform: uppercase;
    font-weight:lighter;
}

a:hover{
    background-color: lightcoral;
    transition: .2s;
    border-radius: 20px;
    padding: 7px;
    color:black
}
.menu-logo{
    font-size: 40px;
    color: white;
    float:right;
    line-height: 85px;
    margin-right: 40px;
    cursor: pointer;
    display:none; 
}
#button-check{
    display: none;
}
@media(max-width: 952px){
    nav ul li a{
        font-size: 19px;
    }
}
@media(max-width: 800px){
    .menu-logo{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
        color: #FCFAE6;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size:  16px;
    }
    #button-check{
        display: none;
    }
    #button-check:checked ~ ul{
        left: 0;
    }

}






