body{
    background: #5124F2;
    font-family: 'Roboto',sans-serif;
    text-decoration: none;
    margin-left: 66%;
    margin-top: 20%;
}
/*user can interact with logo to return, home page*/
#home a{
    color: white;
    font-size: 60px;
    font-weight: bolder;
    float: left;
    margin-left:-190%;
    margin-top: -5%;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
}
.overlay{
    width: 1000px;
}
.signup-header{
    text-align: center;
    width: 200%;
}

.signup-header h1{
    position:absolute;
    width: 20%;
    margin-left: 7%;
    margin-top: 0.5%;
    font-family: 'Roboto',sans-serif; 
    z-index: 10;
    font-size: 50px;
    font-weight: bolder;   
}
/*set form page location*/
form{
    position: absolute;
    margin-left: 5%;
    margin-top: 3%;
    z-index:9;
}
form label{
    display: flex;
    margin-top: 10%;
    font-size: 20px;
    font-family: 'Roboto',sans-serif;
}
form input{
    border-radius: 5px;
    outline:none;
    border: 1px solid grey;
    outline: none;
    padding: 3px;
    width: 300px;
    box-shadow: 0 0 2px 0;
}



.form-control.error input{
    border-color: #ff3860;
}
.form-control.success input{
    border-color: #09c372;
}
.form-control.error{
    border-color: #ff3860;
    font-size: 16px;
    height: 40%;
}
/*set all the element in the parent element*/
.box{
    border-radius: 20px;
    margin: auto;
    width: 100px;
    margin-left: -50%;
    background: white;
    width: 50%;
    height: 600px;
    margin-top: -26%;
    box-shadow: 0 0 10px 0;
}

button{
    display: block;
    margin-left: auto;
    width: 100%;
    margin-top: 10%;
    background: #1621DB;
    color: white;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}
.header{
    float: left;
    margin-left: 37%;
    margin-top: 2%;
    color: whitesmoke;
    font-size: 40px;
    justify-content: center;
    color: black;
}
a{
    float: left;
    margin-left: -190%;
    margin-top: -20%;
    font-weight: bold;
    color: whitesmoke;
    font-size: 34px;
    font-family: 'Roboto',sans-serif;
    padding: 5px;
    text-decoration: none;
}
@media (max-width: 1000px){
    .overlay{
        width: 1000px;
        margin-left: 90%;
        margin-top: 120%;
    }
}

